/* 
dark purple: #0a0324
mid purple: #210456
light purple: #b915cc
pink: #f6287d
green: #8de41c

dermozi-blau: #287ef6

cyberpunk colors:
#00ff9f	(0,255,159) green
#00b8ff	(0,184,255) light blue
#001eff	(0,30,255) blue
#bd00ff	(189,0,255) purple
#d600ff	(214,0,255) magenta
*/

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;
  color: #efefef;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  user-select: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 20em;
  min-height: 100vh;
}

.SectionWrapper {
  display: flex;
  flex-direction: column;
}

.SectionContainer {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #f6287d;
  padding: 1.25em;
  margin-block: 1.23em;
  display: flex;
  flex-direction: column;
  box-shadow: 60px -16px #287ef6;

  h2 {
    font-size: 2em;
    justify-content: center;
    align-self: center;
    text-wrap: nowrap;
  }

  p {
    display: none;
  }

  /* &:hover {
    height: 200px;
  } */
}

.SectionOne {
  clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);
  animation: topSlide 0.1s ease-in forwards;
}
/* 
@keyframes topSlide {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
} */

.SectionFour {
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
}

/* todo when hove the section container will take 100% and hide the others */
